@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

*{
    font-family: 'Poppins', sans-serif;
} 

@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

.main-content{
    /* margin-left: 130px; */
    padding: 15px;
    background-color: #F4F7FE;
    height: 100%;
}
*{
    font-family: 'Poppins', sans-serif;
}
