.grid-container-step4 {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(3, 1fr);
  grid-column-gap: 0px;
  grid-row-gap: 0px;
  padding-bottom: 30px;
  margin-bottom: -20px;
}

.grid-container-step4 > div {
  /* background-color: #ffffff;
  border-radius: 10px;
  box-shadow: 0px 1px 4px 0px #00000040; */
  text-align: center;
  padding: 20px;
  font-size: 15px;
  font-weight: bold;
  display: flex;
  align-items: center;
}
    
.div1-step4 { 
  grid-area: 1 / 1 / 4 / 3; 
  justify-content: center;
}

.div1-step4 video {
  height: 400px;
}
  
.div2-step4 {
  grid-area: 4 / 1 / 5 / 3; 
  font-weight: 200 !important;
  height: 50px; 
  justify-content: center;
}

.div3-step4 {
  grid-area: 5 / 1 / 6 / 2; 
}

.viewreq-button-container {
  margin-left: auto;
}

.viewreq-button {
  background-color: #FFE600;
  color: black;
  font-weight: bold;
  font-size: 15px;
  padding: 10px 20px;
  border-radius: 50px;
  border: none;
  cursor: pointer;
  transition: background-color 0.2s;
  width: 250px;
}

.viewreq-button:hover {
  background-color: #ffef63;
}

.div4-step4 {
  grid-area: 5 / 2 / 6 / 3;
  display: flex;
  justify-content: flex-start;
}

.createreq-button-container {
  margin-left: 0;
}

.createreq-button {
  background-color: #FFE600;
  color: black;
  font-weight: bold;
  font-size: 15px;
  padding: 10px 20px;
  border-radius: 50px;
  border: none;
  cursor: pointer;
  transition: background-color 0.2s;
  width: 250px;
}

.createreq-button:hover {
  background-color: #ffef63;
}
