.drv-dashboard-wrapper {
  display: flex;
  flex-direction: column;
  padding: 2%;
}

.top-container-drvdash {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  height: 25vh;
}

.bottom-container-drvdash {
  display: flex;
  justify-content: space-between;
  height: 60vh;
}

/* child 1 */
.drv-child1 {
  flex: 2;
  background-color: #ffffff;
  border-radius: 10px;
  box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.1);
  margin-right: 2%;
  display: flex;
  align-items: top;
  justify-content: left;
}

.custom-donut-chart {
  margin-top: 18%;
  max-width: 100%;
  max-height: 140%;
  overflow: visible;
}

.custom-donut-chart > *:not(.custom-donut-chart-arcs) {
  display: none;
}

.donut-chart-container {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 50%;
  width: 50%;
  margin: 2%;
}

.donut-icon {
  position: absolute;
  top: 90%;
  left: 43%;
  transform: translate(-50%, -50%);
}

.custom-donut-chart text {
  font-size: 10px;
}

.custom-donut-chart-arcs path {
  /* Adjust the size of the arcs */
  transform: scale(0.8);
}

.custom-donut-chart text {
  display: none;
}

.donut-legends {
  margin-top: 4%;
  margin-left: -5%;
}

.donut-title {
  color: #1A2458;
  font-weight: bold;
  font-size: 18px;
}

.donut-accomplished {
  display: flex;
  flex-wrap: wrap;
  margin-top: 4%;
}

.donut-unaccomplished {
  display: flex;
  flex-wrap: wrap;
  margin-top: 4%;
}

.count-label {
  margin-top: 5px;
  flex-basis: 100%;
  text-align: center;
}

.percentage {
  color: #1A2458;
  font-weight: bold;
}

.per-label {
  color: #55638A;
}

.count-label {
  margin: 0;
  text-align: left;
  padding-left: 10%;
  color: #55638A;
  font-size: 13px;
}


/* 2 rows */
.drv-child-vert {
  display: flex;
  flex-direction: column;
  flex: 1;
}

.drv-child-vert1 {
  display: flex;
  background-color: #ffffff;
  border-radius: 5px;
  box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.1);
  margin-bottom: 10px;
  overflow: hidden;
  flex: 1;
  padding: 4%;
}

.drv-child-vert2 {
  display: flex;
  background-color: #ffffff;
  border-radius: 5px;
  box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.1);
  overflow: hidden;
  flex: 1;
  padding: 4%;
}

.status-dashlogo {
  display: flex;
  justify-content: center;
  align-items: center;
  flex: 30%;
}

.approved_icon {
  height: 60px;
}

.pending_icon {
  height: 60px;
}

.status-dashright {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  margin-left: 5%;
  flex: 70%; /* Set the flex value to 70% */
}

.drvdash-title {
  color: #1A2458;
  font-weight: bold;
  font-size: 18px;
}

.status-dashcount {
  display: inline-block;
  margin-right: 5px;
  vertical-align: middle;
  font-weight: bold;
  color: #1A2458;
  font-size: 15px;
}

.status-dashreq {
  display: inline-block;
  vertical-align: middle;
  font-size: 15px;
  color: #55638A;
}

.status-dashcount-container {
  display: flex;
  align-items: center;
  margin-top: 2%;
}

/* child 2 */
.drv-child2 {
  flex: 1.5;
  background-color: #ffffff;
  border-radius: 5px;
  box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.1);
  margin-left: 2%;
  display: flex;
  position: relative;
}

.drv-child2 {
  display: flex;
}

.dash-driver1 {
  flex: 35%;
  height: 100%;
  padding: 3%;
  position: relative;
}

.dash-driver1::after {
  content: "";
  position: absolute;
  top: 25%;
  bottom: 10%;
  right: 0;
  width: 1px;
  background-color: #ccc;
}

.driver1-row1 {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 20%;
  color: #1A2458;
  font-weight: bold;
  font-size: 18px;
}

.driver1-row2 {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 80%;
}

.dash-driver2 {
  flex: 60%;
  height: 100%;
  padding: 3%;
}

.driver2-row1 {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 20%;
  color: #1A2458;
  font-weight: bold;
  font-size: 15px;
}

.driver2-row2 {
  display: flex;
  height: 80%;
  align-items: center; /* Center the table vertically */
}

.driver2-row2 table {
  width: 100%; /* Set the table width to 100% */
}

.driver2-row2 table tbody tr td:first-child {
  font-size: 14px;
  color: #606D94;
  padding-left: 3%;
  padding-bottom: 10%;
}

.driver2-row2 table tbody tr td:nth-child(2) {
  font-size: 14px;
  color: #025BAD;
  font-weight: 600;
  padding-right: 3%;
  padding-bottom: 10%;
}

/* child 3 */
.drv-child3 {
  background-color: #ffffff;
  border-radius: 5px;
  box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.1);
  flex: 2.1;
  margin-top: 2%;
  overflow: hidden;
}

.table-headerdash {
  display: flex;
  justify-content: space-between;
  /* background-color: pink; */
  padding: 2%;
  box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.1); 
}

.table-headerdash1 {
  color: #1A2458;
  font-weight: bold;
  font-size: 18px;
  align-self: flex-start; /* Align to the left */
}

.table-headerdash2 {
  color: #025BAD;
  font-weight: bold;
  font-size: 13px;
  align-self: flex-end; /* Align to the right */
}
.view-all-button {
  background-color: transparent;
  border: none;
  color: #025BAD;
  font-weight: bold;
  font-size: 13px;
  display: flex;
  align-items: center;
  cursor: pointer;
  padding: 0;
}

.view-all-button:focus {
  outline: none;
}

.view-all-button:hover {
  text-decoration: underline;
}

.table-contdash{
  padding: 2%;
}

/* table fonts */
.dashtable{
  color: #1A2458;
  font-size: 16px;
  padding-left: 1.5%;
}

/* child 4 */
.drv-child4 {
  background-color: #ffffff;
  border-radius: 5px;
  box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.1);
  flex: 1;
  margin-top: 2%;
  margin-left: 2%;
}
